<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head>
    <base th:href="${#request.getContextPath()+'/'}">
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form method="post" action="sso/changePassword">
    <input type="hidden" name="token" th:value="${#request.getParameter('token')}">
    <input type="hidden" name="username" th:value="${#request.getParameter('username')}">
    新密码:<input type="text" name="newPassword">
    <input type="submit" value="修改密码">
</form>
</body>
</html>